[submodule "gtest"]
	path = gtest
    # relative URL, usually goes to https://github.com/PlatformLab/gtest.git
	url = ../gtest.git
[submodule "logcabin"]
	path = logcabin
	url = https://github.com/logcabin/logcabin.git
