.*.swp
\#*#
*.pyc
*.o
*.hi
*.dump
*.log
*.rej
*.orig
*.patch
*.diff
.tags*

/install/
/bindings/java/build/
/deps/
/logs/
/docs/doxygen/
/docs/epydoc/
/obj/
/obj.*/
/src/config.h
/private/
/scripts/localconfig.py
TAGS
tags

# Ignore IDE files
/.idea/
/nbproject/

# CMake
CMakeLists.txt
cmake-*/
