[submodule "gtest"]
	path = gtest
	url = ../gtest.git
[submodule "logcabin"]
	path = logcabin
	url = git://github.com/logcabin/logcabin.git
[submodule "zookeeper"]
	path = zookeeper
	url = ../zookeeper
