#ifndef RAMCLOUD_CONFIG_H
#define RAMCLOUD_CONFIG_H

#define SVRADDR "127.0.0.1"
#define SVRPORT  11111

#define CLNTADDR "127.0.0.1"
#define CLNTPORT 22222

#define BACKSVRADDR "127.0.0.1"
#define BACKSVRPORT  33333

#define BACKCLNTADDR "127.0.0.1"
#define BACKCLNTPORT  44444

#define MAX_RPC_LEN 2048

#define RC_NUM_TABLES 256

#define SEGMENT_SIZE (1 << 23)

#endif
